<component name="ArtifactManager">
  <artifact type="war" name="spring-security-demo-01-base-app:war">
    <output-path>$PROJECT_DIR$/../solution-code-spring-security-demo-01-base-app/solution-code-spring-security-demo-01-base-app/target</output-path>
    <root id="archive" name="spring-security-demo.war">
      <element id="artifact" artifact-name="spring-security-demo-01-base-app:war exploded" />
    </root>
  </artifact>
</component>